<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>Cloud Drive – {{ space }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet">
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" 
    rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <script>
    window.SPACE = {{ space|tojson }};
    window.ALLOW_UPLOAD = {{ allow_upload|tojson }};
  </script>
</head>
<body>
  {% raw %}
  <div id="app" class="container-fluid p-3">
    <!-- 麵包屑 -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" v-for="(crumb, idx) in breadcrumbs" :key="idx">
          <a href="#" @click.prevent="navigate(crumb.path)">{{ crumb.name }}</a>
        </li>
      </ol>
    </nav>
  
    <!-- 如果允許上傳，顯示一個檔案輸入按鈕 -->
    <div v-if="allowUpload" class="mb-3">
      <label class="btn btn-success btn-sm">
        <i class="bi bi-upload"></i> 上傳檔案
        <input 
          type="file" 
          class="d-none" 
          @change="uploadFile" 
          :disabled="uploading"
        />
      </label>
      <span v-if="uploading" class="ms-2 text-muted">上傳中…</span>
    </div>

    <!-- 圖卡格 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <div v-for="item in items" :key="item.path" class="col">
        <div class="card file-item"
             
              @dblclick="open(item)">
          <!-- 縮圖：單擊 openModal，阻止冒泡 -->
          <img
            v-if="item.is_image"
            :src="`/${SPACE}/api/thumbnail?path=${encodeURIComponent(item.path)}`"
            class="card-img-top"
            @click.stop="openModal(item)"
          >
          <!-- 非影像檔就顯示圖示 -->
          <div v-else class="card-body text-center py-4">
            <i :class="item.is_dir ? 'bi bi-folder-fill' : 'bi bi-file-earmark-text'"
               style="font-size:3rem;"></i>
          </div>
          <div class="card-footer text-truncate">
            {{ item.name }}
            <!-- 三點按鈕 -->
            <button class="btn btn-sm options-btn" 
                    @click.stop="openMenu($event, item)">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- 右鍵選單 -->
    <ul id="context-menu" class="list-group">
      <li class="list-group-item list-group-item-action" @click="viewDetails">內容</li>
      <li class="list-group-item list-group-item-action" @click="download">下載</li>
    </ul>
  
    <!-- 圖片檢視 Modal -->
    <div v-if="modalVisible" class="modal-backdrop" @click.self="closeModal">
      <div class="modal-dialog">
        <button class="btn-close float-end m-2" @click="closeModal"></button>
        <div class="modal-body text-center">
          <img
            :src="`/${SPACE}/api/raw?path=${encodeURIComponent(modalItem.path)}`"
            class="img-fluid"
            alt="原圖"
          >
        </div>
        <div class="modal-footer justify-content-center">
          <a
            :href="`/${SPACE}/api/download?path=${encodeURIComponent(modalItem.path)}`"
            class="btn btn-primary"
          >下載</a>
        </div>
      </div>
    </div>
    <div class="sidebar" v-show="sidebarVisible">
      <button class="btn-close float-end m-2" @click="closeSidebar"></button>
      <h5 class="px-3">檔案資訊</h5>
      <ul class="list-group list-group-flush px-3">
        <li class="list-group-item"><strong>檔名：</strong>{{ metadata.filename }}</li>
        <li class="list-group-item">
          <strong>檔案大小：</strong>{{ (metadata.filesize/1024/1024).toFixed(2) }} MB
        </li>
        <li class="list-group-item"><strong>解析度：</strong>{{ metadata.resolution }}</li>
        <li class="list-group-item" v-if="metadata.Make"><strong>製造商：</strong>{{ metadata.Make }}</li>
        <li class="list-group-item" v-if="metadata.Camera"><strong>相機型號：</strong>{{ metadata.Camera }}</li>
        <li class="list-group-item" v-if="metadata.LensModel"><strong>鏡頭型號：</strong>{{ metadata.LensModel }}</li>
        <li class="list-group-item" v-if="metadata.ISO"><strong>ISO：</strong>{{ metadata.ISO }}</li>
        <li class="list-group-item" v-if="metadata.ShutterSpeed"><strong>快門：</strong>{{ metadata.ShutterSpeed }}</li>
        <li class="list-group-item" v-if="metadata.Aperture"><strong>光圈：</strong>{{ metadata.Aperture }}</li>
        <li class="list-group-item" v-if="metadata.DateTime"><strong>拍攝時間：</strong>{{ metadata.DateTime }}</li>
      </ul>
    </div>
  </div>

  

  <!-- Vue & App.js -->
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/static/js/app.js"></script>
  {% endraw %}
</body>
</html>
